{{ 'section-top-bar.css' | asset_url | stylesheet_tag }}

{%- liquid


  if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
    assign localization_forms = true
  endif
-%}

<div class="top-bar-section page-width items-center flex justify-end py-3 gap-8 z-50" id="{{ section.id }}">
  <div class="{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
    <div class="desktop-localization-wrapper">
      {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
        <localization-form class="small-hide medium-hide" data-prevent-hide>
          {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
            <div>
              <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
              {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {% endif %}

      {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
        <localization-form class="small-hide medium-hide" data-prevent-hide>
          {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
            <div>
              <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
              {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
            </div>
          {%- endform -%}
        </localization-form>
      {%- endif -%}
    </div>
  </div>
  {% if section.blocks.first.settings.signInText != blank %}
    <a class="text-white" href="{{ routes.account_login_url }}">
      <span>{{ section.blocks.first.settings.signInText }}</span>
    </a>
  {% endif %}
  {% if section.blocks.first.settings.createAccountText != blank %}
    <a class="text-white" href="{{ routes.account_register_url }}">
      <span>{{ section.blocks.first.settings.createAccountText }}</span>
    </a>
  {% endif %}
</div>

{% schema %}
{
  "name": "Top bar",
  "class": "top-bar-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label"
    }
  ],
  "blocks": [
    {
      "type": "topbar",
      "name": "t:sections.top-bar.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "signInText",
          "label": "t:sections.top-bar.settings.signInText.label",
          "default": "t:sections.top-bar.settings.signInText.default"
        },
        {
          "type": "text",
          "id": "createAccountText",
          "label": "t:sections.top-bar.settings.createAccountText.label",
          "default": "t:sections.top-bar.settings.createAccountText.default"
        }
      ]
    }
  ]
}
{% endschema %}
